* {
    margin: 0;
    padding: 0;
    border: 0;  
    outline: 0;
   text-decoration: none;
   list-style: none;
   box-sizing: border-box; 
  }
  
  :root {
      --color-primary: #6c63ff; 
      --color-success: #63ff70;
      --color-warning: #fffc63;
      --color-danger: #ce0808;
      --color-danger-variant: rgba(247, 88, 66, 0.4);
      --color-white: #fff;
      --color-light: rgba(255, 255, 255, 0.7);
      --color-black: #000;
      --color-bg: #1f2641;
      --color-bg1: #2e3267;
      --color-bg2: #424890;
   
      --container-width-lg: 80%;
      --container-width-md: 90%;
      --container-width-sm: 94%;
       
       --transition: all 400ms ease;
   }
   
   body {
       height: 100%;
       font-family: "Montserrat", sans-serif;
       line-height: 1.7;
       color: var(--color-white);
       background: var(--color-bg);
   }
   .container{
      width: var(--container-width-lg);
      margin: 0 auto;
      width: 80vw;
   }
   section{
      padding: 6rem 0;
   }
  
   section h2{
      text-align: center;
      margin-bottom: 4rem;
   }
   
   h1,
   h2,
   h3,
   h4,
   h5 {
      line-height:  1.2;
   }
  
  h1{
      font-size: 2.4rem;
  }
  
  h3{
      font-size: 1.6rem;
  }
  
  h4{
      font-size: 1.3rem;
  }
  
  a{
      color: var(--color-white);
  }
  
  img{
      width: 100%;
      display: block;
      object-fit: cover;
  }
  .btn{
      display:inline-block;
      background: var(--color-white);
      color: var(--color-black);
      padding: 1rem 2rem;
      border: 1px solid transparent;
      font-weight: 500;
      transition: var(--transition);
      
  }
  
  .btn:hover{
      background: transparent;
      color: var(--color-white);
      border-color: var(--color-white);
  }
  
  .btn-primary{
      background: var(--color-danger);
      color: var(--color-white);
  }
  /* ************************NAVBAR***************************** */
  nav{
      background: transparent;
      width: 100vw;
      height:5rem;
      position: fixed;
      top: 0;
      z-index: 11;
  }
  /*change nav bar styles on scroll using js*/
  .window-scroll{
  background: var(--color-primary);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  
  }
  
  .nav_container{
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
  nav button{
      display: none;
  }
  .nav_menu{
      display: flex;
      align-items: center;
      gap: 4rem;
  }
  .nav_menu a {
      font-size: 0.9rem;
      transition: var(--transition);
  }
  .nav_menu a:hover {
      color: var(--color-bg2);
  }
  

  /*=======================================TABLETS==========
  =========================================*/
  @media screen and (max-width: 1024px){
   
      .container{
          width: var(--container-width-md);
      }
  }
  h1{font-size: 2.2rem;}
  
  h2{
      font-size: 1.7rem;
  }
  
  h3{
      font-size: 1.4rem;
  }
  
  h4{
      font-size: 1.2rem;
  }
  
  
  /*=======================================Nav BAr==========
  =========================================*/
  
  
  nav button{
      display: inline-block;
      background: transparent;
      font-size: 1.8rem;
      color: var(--color-white);
      cursor: pointer;
  }
  
  nav button#close-menu-btn{
      display: none;
  }
  .nav_menu{
    position: fixed;
    top:5rem;
    right: -100%; /* initially hidden */
    width: 170px;
    background-color: #fff;
    transition: right 0.5s ease; /* animate the sliding effect */
    flex-direction: column;
    gap: 0;
  }
  
  .nav_menu.open {
    right: 0; /* slide in when menu is open */
  }
  .nav_menu li{
      width: 100%;
      height: 3.5rem;
  }
  .nav_menu li a{
      background: var(--color-primary);
      box-shadow: -4rem 6rem 10rem rgba(0, 0, 0, 0.6);
      width: 100%;
      height: 100%;
      display:grid;
      place-items:center;
  }
  
  .nav_menu li a:hover{
      background: var(--color-bg2);
      color: var(--color-white);
  }
  
  
  
  /*================================BREVIER TEORETIC==========================
  ===========================================================*/
  
  @media screen and (min-width: 720px){
    .brevier{
    margin-top: 150px;
    }
  }
  .brevier{
      position: relative;
      width: 100%;
      margin-top: 115px;
      right: 5%;
      left: 5%;
      width: var(--container-width-md);
      justify-content: center;
      text-align: center;
      margin-bottom: 5rem;
  }
  .brevier h1{
    margin-bottom: 3rem;
  }
  .brevier p{
      margin: 20px auto;
  }

  .btn-primary{
    border-radius: 20px;
margin-right: 2rem; 
margin-bottom: 2rem;
margin-left: 2rem; 
}

/*==============================FOOTER=========
======================================*/
/*==============================FOOTER=========
======================================*/

footer{
     background: var(--color-bg1);
     padding-top: 2rem;
     font-size: 0.9rem;
}
@media screen and (min-width: 720px){
.footer_container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5rem;
    margin-bottom: 2rem;
}
.footer_copyright{
    text-align: center;
    padding: 1.2rem 0;
    border-top: 1px solid var(--color-bg2);
}
}
@media screen and (max-width: 720px){
    .footer_container{
        display: grid;
        margin-bottom: 2rem;
    }
    .footer_copyright{
        text-align: center;
        padding: 1.2rem 0;
        border-top: 1px solid var(--color-bg2);
    }
}

.footer_container > div h4{
    margin-bottom: 1.2rem;
}
.footer_1 p{
    margin: 0 0 2rem;
}
footer ul li{
    margin-bottom: 0.7rem;
}
footer ul li a:hover{
    text-decoration: underline;
}
.footer_socials{
    display: flex;
    gap: 1rem;
    font-size: 1.2rem;
    margin-top: 2rem;
}




